@import './media.scss';

.categories {
    margin-top: -20rem;
    height: 400px;


    .category {
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        h2 {
            font-size: 24px;
            margin-bottom: 5rem;
        }
    }
    .categoriesArrows{
        display: flex;
        gap: 4rem;
    }
    .categoryitems {
        display: flex;
        justify-content: space-between;
        background: #EEEEFF;
    }

    .categorywrap {
        display: grid;
        margin-bottom: 5rem;
    }

    img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }

    .categorytext {
        font-size: 12px;
        text-align: center;
    }


}