@import './media.scss';

.categories{
    @include smallDevice {
        height: 50px;

        .category{
            @include smallDevice {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
                font-size: 16px;

                h2{
                    font-size: 14px;
                }
            }
        }
         .categoryitems{
             @include smallDevice {
                 display: flex;
                 margin-top: 1rem;
                 justify-content: space-between;
                 background: #EEEEFF;
             }
         }

         .categorywrap{
             @include smallDevice {
                 display: grid;
                 margin-top: 1rem;
             }
         } 
             img {
                @include smallDevice {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        
        .categorytext{
            @include smallDevice {
             font-size: 12px;
              } 
         }
    }
    

}