@import './media.scss';

.copy {
   @include smallDevice {
      margin-top: -2rem;
      height: 100px;
      background: #000;
      color: #fff;
   }


   .border {
      @include smallDevice {
         border: 2px solid #f5f5f5;
         width: 300px;
         margin-left: 0.5rem;
         margin-top: 1rem;
      }
   }
   p{
      @include smallDevice {
        text-align: center;
        margin-top: 2rem;
      }
   }
}