@import './media.scss';


.furniture {
    height: 500px;

    h2 {
        font-size: 24px;
    }


    .furnitureCategory {
        display: flex;
        justify-content: space-between;
    }

    .furnitureArrows {
        display: flex;
        gap: 4rem;
    }

    .cartContainer {
        display: flex;
        justify-content: space-between;
    }

    .cart {
        width: 270px;
        height: 270px;
        background: #f3f3f3;
        border-radius: 9px;
        margin-top: 2rem;

        img {
            width: 270px;
            height: 270px;
            border-radius: 9px;
        }
    }

    .cartDetailContainer {
        display: flex;
        justify-content: space-between;
    }

    .cartDetails {
        width: 190px;
        height: 30px;
        font-size: 12px;
        margin-top: 1rem;

        h4 {
            font-size: 24px;
            margin-bottom: 0.2rem;
            font-weight: bolder;
            text-align: center;
        }
    }

    .cartBrandName {
        text-align: center;
        font-size: 19px;
    }

    .cartRateGrid {
        display: flex;
        justify-content: space-between;
    }

    .line {
        width: 1px;
        height: 12px;
        background: #000;
    }

    .cartPrice {
        margin-top: 1rem;
        font-size: 17px;
    }


}