@import './media.scss';

.login{
       display: flex;
       justify-content: center;
       height: 100px;

    button{
            width: 270px;
            height: 55px;
            border-radius: 15px;
            border: none;
            background: #000;
            color: #fff;
            margin-top: 2rem;
            font-size: 17px;
            cursor: pointer;
        }  
}