@import './media.scss';

.logo {
    height: 400px;
    margin-top: 7rem;
    text-align: center;

    img {
        width: 90px;
        height: 90px;
        border-radius: 3rem;
        margin-bottom: 1rem;
    }

    .logoText {
        display: grid;
        text-align: center;
        width: 520px;
        height: 80px;
        margin-left: 29rem;
    }
}