@import './media.scss';

.logo{
    @include smallDevice {
        height: 600px;
        margin-top: 7rem;
    }
        img {
            @include smallDevice {
                width: 50px;
                height: 50px;
                border-radius: 3rem;
                margin-left: 8rem;
                margin-bottom: 1rem;
            }
        }

    .logoText{
        @include smallDevice {
            display: grid;
            text-align: center;
        }
    }
}