@import './media.scss';

.others {
    margin-top: 4rem;
    height: 800px;

    .othersProductImg {
        height: 200px;
        display: flex;
        justify-content: center;
    }


    img {
        width: 415px;
        height: 200px;
        border-radius: 9px;
    }
}

.othersProductDetails {
    height: 300px;
    text-align: center;
}

.othersText {
    margin-top: 1rem;
    text-align: center;
    width: 520px;
    height: 80px;
    margin-left: 29rem;

    p {
        font-size: 20px;
    }
}

.startshopping {
    margin-top: 2rem;
    width: 180px;
    height: 45px;
    margin-left: 10rem;
    border-radius: 14px;
    background: #000;
    color: #fff;
}


.startshoppingText {
    transform: translateY(10px);
}

.othersShoeOne {
    height: 300px;
}

img {

    width: 315px;
    height: 200px;
    border-radius: 9px;
}

.othersShoeOneText {
    margin-top: 1rem;
    text-align: center;
    width: 520px;
    height: 80px;
    margin-left: 29rem;
    p {
        font-size: 20px;
    }
}

.othersShoeOneImg {
    margin-top: 5rem;
    height: 150px;
    display: flex;
    justify-content: center;
}