@import './media.scss';



.tech {
    @include smallDevice {
        height: 300px;
        margin-top: 15rem;

        h2 {
            font-size: 14px;
        }
    }

    .techcategory {
        @include smallDevice {
            display: flex;
            justify-content: space-between;
        }
    }

    .techproducts {
        @include smallDevice {
            margin-top: 2rem;
            height: 300px;
        }
    }

    .cartContainer {
        display: flex;
        justify-content: space-between;
    }

    .cart {
        @include smallDevice {
            width: 70px;
            height: 70px;
            background: #f3f3f3;
            border-radius: 9px;
            margin-top: 2rem;
        }

        img {
            @include smallDevice {
                width: 70px;
                height: 70px;
                border-radius: 9px;
            }
        }
    }

    .cartDetailContainer {
        display: flex;
        justify-content: space-between;
    }

    .cartDetails {
        @include smallDevice {
            width: 65px;
            height: 89px;
            font-size: 12px;
            margin-top: 1rem;

            h4 {
                font-size: 14px;
                margin-bottom: 0.2rem;
                font-weight: bolder;
            }
        }
    }

    .cartBrandName {
        @include smallDevice {
            text-align: center;
            font-size: 12px;
        }
    }

    .cartRateGrid {
        @include smallDevice {
            display: flex;
            justify-content: space-between;
        }
    }
    .line{
        @include smallDevice {
            width: 1px;
            height: 12px;
            background: #000;
        }
    }
    .cartPrice{
        @include smallDevice {
          margin-top: 1rem;
        }
    }

}